Django
requests
firebase-admin
googlemaps
openai
playwright
pandas
ethnicolr
#tensorflow-macos==2.12.0
#tensorflow-metal==1.2.0
tensorflow==2.12.0 # ubuntu
dotenv
whitenoise
spacy
unidecode
inflect
rapidfuzz
en_core_web_sm