{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vroombaby/style.css' %}">
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125724161-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125724161-1');

      gtag('config', 'AW-788353508');

    </script>


    <!-- Event snippet for test_conversion_1 conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-788353508/hZVHCKDB5IkBEOSj9fcC',
          'transaction_id': '',
          'event_callback': callback
      });
      return false;
    }
    </script>

    <meta name="p:domain_verify" content="7b51575efc61372c692155998a580ff8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Indian language toys, alphabets mats - Hindi Marathi Nepali abc mats.
        The educational fun learning puzzles in native indian script devanagari, A Aa E Ee, ka kha ga gha, barakhadi">
    <meta name="author" content="">

    <title>Vroombaby | Indian Language Toys - Alphabets </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vroombaby/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vroombaby/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'vroombaby/agency.min.css' %}" rel="stylesheet">
    <meta name="google-site-verification" content="KcpfDDXsHlTcqUd_M_HyDx6NsjcAq1nX569cPOtk_Hc" />

      <script>
        (function(i,s,o,g,r,a,m){
          i['GoogleAnalyticsObject']=r;
          i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
          i[r].l=1*new Date();
          a=s.createElement(o),m=s.getElementsByTagName(o)[0];
          a.async=1;
          a.src=g;
          m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-126298930-1', 'auto');
        ga('send', 'pageview');
      </script>
  </head>

  <body id="page-top">
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vroombaby</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#shipping">Shipping</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Indian Language Toys - Alphabets<!doctype html>
              <html lang="en">
              <head>
                  <meta charset="UTF-8">
                  <title>Devanagari puzzle mat, a aa e ee, ka kha ga gha, barakhadi abc mat</title>
              </head>
              <body>
              
              </body>
              </html></div>
          <div class="intro-heading text-uppercase">Hindi Marathi Nepali Alphabet Mat</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
        <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>
              <br/>

        </ul>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/01-thumbnail.jpg' %}" alt="devanagari alphabets">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/02-thumbnail.jpg' %}" alt="hindi alphabet mat">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/03-thumbnail.jpg' %}" alt="marathi alphabet mat">
            </a>
            <div class="portfolio-caption">
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/04-thumbnail.jpg' %}" alt="nepali barakhadi">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/05-thumbnail.jpg' %}" alt="hindi barakhadi">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/06-thumbnail.jpg' %}" alt="marathi barakhadi">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Purchase from Paypal</h2>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
    <table>
    <tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
        <option value="price">price $49.99 USD</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
            <br>

          </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
           <div class="fb-like " data-href="http://vroombaby.com/" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>

          </div>

        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h4 class="section-heading">Cell: +1 219 308 9382</h4>
            <h4 class="section-heading">Email: vroombabytoys@gmail.com</h4>
              <h4 class="section-heading">Address: 10313 open gate dr, Austin, TX, USA, 78726</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- Shipping -->
    <section id="shipping">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Shipping & Returns</h2>
            <h4 class="section-heading">Shipping and returns are processed via amazon and adhere to amazon policies.</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; vroombaby 2018</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                    <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>
              <br/>

        </ul>

                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/01-full.jpg' %}" alt="">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
<table>
<tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
	<option value="price">price $49.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                    <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>
              <br/>

        </ul>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/02-full.jpg' %}" alt="">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
<table>
<tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
	<option value="price">price $49.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                    <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>
              <br/>

        </ul>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/03-full.jpg' %}" alt="">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
<table>
<tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
	<option value="price">price $49.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                        <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>
              <br/>

        </ul>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/04-full.jpg' %}" alt="">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
<table>
<tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
	<option value="price">price $49.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                        <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>
              <br/>

        </ul>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/05-full.jpg' %}" alt="">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
<table>
<tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
	<option value="price">price $49.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                < class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                    <ul class="a-unordered-list a-vertical a-spacing-none">

              <li><span class="a-list-item">
                  Soft and Safe for Kids - Certified by U.S. Toy Safety Standards (ASTM F963-17).

              </span></li>

              <li><span class="a-list-item">
                  EVA, Non-flammable Foam.

              </span></li>

              <li><span class="a-list-item">
                  51 Interlocking pieces, bright, durable, anti-slip, easy to clean, soft, water resistant foam.

              </span></li>

              <li><span class="a-list-item">
                  Educational Fun - Stimulates early childhood learning and provides hours of fun, encourages learning in motor skills, hand-eye coordination, logic, reasoning, and visual sensory growth.

              </span></li>

              <li><span class="a-list-item">
                  LARGE 12" x 12" pieces, 3/8" thick. Perfect flooring for play rooms, daycares, and schools.
              </span></li>

        </ul>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/06-full.jpg' %}" alt="hindi marathi alphabets">
               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="J9UCVA6X8NDF6">
<table>
<tr><td><input type="hidden" name="on0" value="Hindi Marathi Nepali Alphabet Mat">Hindi Marathi Nepali Alphabet Mat</td></tr><tr><td><select name="os0">
	<option value="price">price $49.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vroombaby/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vroombaby/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin     JavaScript -->
    <script src="{% static 'vroombaby/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'vroombaby/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'vroombaby/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'vroombaby/agency.min.js' %}"></script>

  </body>

</html>
