{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Indian language toys, alphabets mats - Hindi Marathi Nepali abc mats.
        The educational fun learning puzzles in native indian script devanagari, A Aa E Ee, ka kha ga gha, barakhadi">
    <meta name="author" content="">

    <title>Vroombaby | Indian Language Toys - Alphabets </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vroombaby/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vroombaby/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'vroombaby/agency.min.css' %}" rel="stylesheet">
    <meta name="google-site-verification" content="KcpfDDXsHlTcqUd_M_HyDx6NsjcAq1nX569cPOtk_Hc" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vroombaby</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Indian Language Toys - Alphabets<!doctype html>
              <html lang="en">
              <head>
                  <meta charset="UTF-8">
                  <title>Devanagari puzzle mat, a aa e ee, ka kha ga gha, barakhadi abc mat</title>
              </head>
              <body>
              
              </body>
              </html></div>
          <div class="intro-heading text-uppercase">Hindi Marathi Nepali Alphabet Mat</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Products</h2>
            <h3 class="section-subheading text-muted"><a target="_blank" href="https://www.amazon.com/gp/offer-listing/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=am2&tag=vroombaby-20&linkId=72acee0e3bccec660c16c140ab2c0959">Indian language alphabets mats - Hindi Marathi Nepali abc mats. The educational fun learning puzzles in native indian script devanagari, A Aa E Ee, ka kha ga gha, barakhadi.
            </a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/01-thumbnail.jpg' %}" alt="devanagari alphabets">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/02-thumbnail.jpg' %}" alt="hindi alphabet mat">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/03-thumbnail.jpg' %}" alt="marathi alphabet mat">
            </a>
            <div class="portfolio-caption">
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/04-thumbnail.jpg' %}" alt="nepali barakhadi">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/05-thumbnail.jpg' %}" alt="hindi barakhadi">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'vroombaby/images/portfolio/06-thumbnail.jpg' %}" alt="marathi barakhadi">
            </a>
            <div class="portfolio-caption">
              <h4></h4>
              <p class="text-muted"></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Purchase from Amazon</h2>
            <a target="_blank"  href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=0a2f7d0319f511e2ea31380ca05bdd95"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07H1N53F3&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=vroombaby-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="a aa e ee" style="border:none !important; margin:0px !important;" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">            <a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=0f155fa9ea553a8ddd8b0f2b58f2e144">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="ka kha ga gha" style="border:none !important; margin:0px !important;" />
</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="eva foam mat" style="border:none !important; margin:0px !important;" /></h3>
            <h4 class="section-heading">Cell: +1 219 308 9382</h4>
            <h4 class="section-heading">Email: vroombabytoys@gmail.com</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; vroombaby 2018</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                  <p class="item-intro text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/01-full.jpg' %}" alt="">
                  <p><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="abc puzzle mat" style="border:none !important; margin:0px !important;" /></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                  <p class="item-intro text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/02-full.jpg' %}" alt="">
                  <p><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="marathi kids toys" style="border:none !important; margin:0px !important;" /></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                  <p class="item-intro text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/03-full.jpg' %}" alt="">
                  <p><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="hindi toys" style="border:none !important; margin:0px !important;" /></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                  <p class="item-intro text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/04-full.jpg' %}" alt="">
                  <p><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="marathi toys" style="border:none !important; margin:0px !important;" /></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                  <p class="item-intro text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/05-full.jpg' %}" alt="">
                  <p><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="marathi khelni" style="border:none !important; margin:0px !important;" /></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Hindi Marathi Nepali Alphabet Mat</h2>
                  <p class="item-intro text-muted"><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="indian abc mat" style="border:none !important; margin:0px !important;" /></p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'vroombaby/images/portfolio/06-full.jpg' %}" alt="hindi marathi alphabets">
                  <p><a target="_blank" href="https://www.amazon.com/gp/product/B07H1N53F3/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H1N53F3&linkCode=as2&tag=vroombaby-20&linkId=9c72c9f726c73d140a98d5c4c1f4c54d">Hindi Marathi Nepali Alphabet Mat - 51 Tiles - EVA Foam Jigsaw Puzzle Floor Play Mat</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=vroombaby-20&l=am2&o=1&a=B07H1N53F3" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vroombaby/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vroombaby/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin     JavaScript -->
    <script src="{% static 'vroombaby/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'vroombaby/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'vroombaby/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'vroombaby/agency.min.js' %}"></script>

  </body>

</html>
